---
import { TITULO } from "../info";
import HeaderLink from "./HeaderLink.astro";

const links = {
  Inicio: "/",
  Blog: "/blog",
  Proyectos: "/proyectos",
  "Sobre mi": "/sobre-mi",
};
---

<header>
  <h1>{TITULO}</h1>
  <div class="links">
    {
      Object.entries(links).map(([title, link]) => (
        <HeaderLink url={link} title={title} />
      ))
    }
  </div>

  <div class="theme">
    <h3>Cambio de tema</h3>
  </div>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    text-align: left;
  }

  .links {
    text-align: center;
  }

  .theme {
    text-align: right;
  }
</style>
